body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.suggestions{
  font-size: large;  
}

.filmList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.film{
  width: 200px;
}

.film-poster{ 
  max-height: 200px;
}

